{% extends "index.html" %}
{% block title %}Авторизация на сайте{% endblock title %}

{% block content %}
<div class="container">
    <div id="wrapper" class="row justify-content-center align-items-center">
        <div class="text-center">
            <h2>Добро пожаловать на сайт</h2>
            <p class="mt-4">Для того, чтобы войти в профиль пользователя - необходимо пройти авторизацию.<br> Нажмите на
            кнопку " Войти через VK" для выполения авторизации на сайте.</p>
            <a class="btn btn-primary mt-5 align-items-center" href="{% url 'social:begin' 'vk-oauth2' %}">
                <div class="d-flex align-items-center">
                    Войти через <i class="fa fa-2x fa-vk ml-2"></i>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
